<script type="text/ejs" id="personline">
	<div class="registbutton_wrap">
		<button class="registbutton">ユーザを登録</button><br>
	</div>
	<div id="personline">
		[% for(var id in persons) { %]
			<ul class="person">
				<li>
					<a class="name">[%= persons[id].get('name') %]</a>
					<input type="hidden" name="id" value="[%= id %]" />
				</li>
			</ul>
		[% } %]
	</div>
</script>

<script type="text/ejs" id="detail">
	<div id="person_detail" class="dialog_detail">
		<p>
		<label class="id">ID</label><p>[%= person.get('personId') %]</p><br>
		<label class="name">名前</label><p>[%= person.get('name') %]</p><br>
		[% if(person.get('age')) { %]
			<label class="age">年齢</label><p>[%= person.get('age') %]</p><br>
		[% } %]
		[% if(person.get('organization')) { %]
			<label class="organization">所属組織</label><p>[%= person.get('organization') %]</p><br>
		[% } %]
		<button class="editPerson">このユーザを編集</button>
		<button class="deletePerson">このユーザを削除</button>
		<input type="hidden" name="id" value="[%= person.get('personId') %]"/>
	<br><br><br><br>[%# スマートフォン用のスペース %]
	</div>
</script>


<script type="text/ejs" id="regist">
	<div id="person_regist" class="dialog_regist">
		<label class="id">ID</label><input type="text" name="id" value=""/><br>
		<label class="name">名前</label><input type="text" name="name" value="[%= name %]"/><br>
		<label class="age">年齢</label><input type="text" name="age" value="[%= age %]"/><br>
		<label class="organization">組織</label><input type="text" name="organization" value="[%= organization %]"/><br>
		[% if(oldId) { %]
			<input type="hidden" name="oldId" value="[%= oldId %]" />
		[% } %]
		<div class="button-wrap">
			<button class="submit">登録</button>
			<button class="back">戻る</button>
		</div>
	</div>
</script>


<script type="text/ejs" id="edit">
<div id="person_edit" class="dialog_edit">
	<label class="id">ID</label><p>[%= person.get('personId') %]</p><input type="hidden" name="id" value="[%= person.get('personId') %]"/><br>
	<label class="name">名前</label><input type="text" name="name" value="[%= person.get('name') %]"/><br>
	<label class="age">年齢</label><input type="text" name="age" value="[%= person.get('age') %]"/><br>
	<label class="organization">所属組織</label><input type="text" name="organization" value="[%= person.get('organization') %]"/><br>
	<div class="button-wrap">
		<button class="submit">変更</button>
		<button class="cancelEdit">キャンセル</button>
	</div>
</div>
</script>

<script type="text/ejs" id="conflict">
	<div id="person_conflict" class="dialog_conflict">
		<p>IDが重複したデータ</p>
		[% 
			var serverItem = conflictItem.serverItem;
			var localItem =  conflictItem.localItem;
		%]
		<hr>
		<label class="dataOrigin">登録済みのデータ</label><br>

		<label class="id">ID</label><p>[%= serverItem.personId %]</p><br>
		<label class="name">名前</label><p>[%= serverItem.name %]</p><br>
		[% if(serverItem.age) { %]
			<label class="age">年齢</label><p>[%= serverItem.age %]</p><br>
		[% } %]
		[% if(serverItem.organization) { %]
			<label class="organization">所属組織</label><p>[%= serverItem.organization %]</p><br>
		[% } %]
		<hr>

		<label class="dataOrigin">あなたが登録しようとしたデータ</label><br>
		<label class="id">ID</label><p>[%= localItem.get('personId') %]</p><br>
		<label class="name">名前</label><p>[%= localItem.get('name') %]</p><br>
		[% if(localItem.get('age')) { %]
			<label class="age">年齢</label><p>[%= localItem.get('age') %]</p><br>
		[% } %]
		[% if(localItem.get('organization')) { %]
			<label class="organization">所属組織</label><p>[%= localItem.get('organization') %]</p><br>
		[% } %]

		<button class="registPerson">このユーザを再登録</button>
		<input type="hidden" name="id" value="[%= localItem.get('personId') %]"/>
		<br><br><br><br>[%# スマートフォン用のスペース %]
	</div>
</script>