<script type="text/ejs" id="header">
	<h1 id="pageTitle" style="display:inline">スケジュール管理</h1>
	<div id="top" style="display:inline; width:350px; left:640px; top:10">
		<button id="sync">同期</button>
		<button id="showConflictData">衝突データ表示</button>
		<select id="onlineStatus" style="font-size: 12pt;  border-radius: 4px;">
			<option value="on">オンライン</option>
			<option value="off">オフライン</option>
		</select>
		<h2 id="date" style="margin:0px; vertical-align:middle"></h2>
	</div>
</script>

<script type="text/ejs" id="login">
	<div id="login" class="dialog login">
		<label class="name">名前</label><input type="text" name="name"/><br>
		<label class="password">パスワード</label><br><input type="password" name="password"/><br>
		<div class="button-wrap">
			<button class="submit">登録</button>
			<button class="back">戻る</button>
		</div>
	</div>
</script>