.wrap>div {
	float: left;
}

/* カラム */
/* カラムのドラッグ中に表示する空のカラム */
.dummy-column {
	border: 2px dashed #888 !important;
	background-color: #ddd;
	margin: 0 5px;
	z-index: -1;
	display: none;
}

.column {
	border: 2px solid #aaa;
	margin: 5px 5px 0 0;
	padding: 5px;
	min-height: 400px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.column h1 {
	text-align: center;
	font-size: 1.4em;
	color: #ffffff;
	background-color: #5160C6;
	border-left: 3px solid #AA94FF;
	border-right: 3px solid #AA94FF;
	margin-top: 3px;
	font-weight: bold;
}

/* .column h1:hover {
	cursor: move;
	filter: alpha(opacity = 80);
	opacity: 0.8;
} */